<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>

<h2>Add New Book</h2>

<form method="post">

    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Author:</label><br>
    <input type="text" name="author" required><br><br>

    <label>Price:</label><br>
    <input type="number" name="price"><br><br>

    <label>Published Year:</label><br>
    <input type="number" name="year"><br><br>

    <button type="submit">Save</button>
</form>

<br>
<a href="/">Back</a>

</body>
</html>
